<h3>Pens</h3>

<% @pens.each do |pen| %>
  <p>
    <%= link_to pen.name, pen_path(pen.id) %>
    <%= pen.capacity %>
  </p>
<% end %>

<p>
  <%= link_to 'New Pen', new_pen_path %>
</p>

<p>
  <%= link_to 'Back to Homepage', root_path %>
</p>