<h3>Pens</h3>

<table>
  <tr>
    <th>Pen Name</th>
    <th>Pen Capacity</th>
  </tr>
  <% @pens.each do |pen| %>
  <tr>
    <td>
    <%= link_to pen.name, pen_path(pen.id) %>
  </td>
  <td>
    <%= pen.capacity %>
  </td>
</tr>
  </p>
<% end %>
</table>

<% if can? :manage, :Pen %>
  <p>
    <%= link_to 'New Pen', pen_new_path %>
  </p>
<% end %>

<p>
  <%= link_to 'Back to Homepage', root_path %>
</p>