<!-- list of persons and links -->
<div class="body">
<h1>People</h1>

	<table>
    <tbody>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      <% @persons.each do |person| %>
        <tr>
	        <td><%= link_to person.name, person %></td>
			<td><%= person.email %></td>
        </tr>
      <% end %>
    </tbody>
	</table>
</div>
