<!-- list of persons and links -->

<h3>People</h3>
    <tbody>
      <% @persons.each do |person| %>
        <tr>

	        <td><%= link_to person.name, person %></td>
			<td><%= person.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
